@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kamerik';
  src: url('./fonts/kamerik205-heavy.woff2') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

.textMUIWhiteButton {
  @apply text-[#ffffff] font-bold;
}

.containedMUIWhiteButton {
  @apply bg-[#ffffff] hover:bg-[#f0f5ff] text-[#2076d2] hover:text-[#2076d2] font-bold;
}

.authInputMUIField {
  @apply relative row-span-1 mx-[15%] mlarge:mx-[5%] w-[70%] mlarge:w-[80%] h-[50px] border-2 rounded-[5px];
}

