@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kamerik';
  src: url('./fonts/kamerik205-heavy.woff2') format('truetype');
}

@font-face {
  font-family: 'MerryWeather';
  src: url('./fonts/merriweather-regular-italic.woff2') format('truetype');
}

* {
  margin: 0;
  padding: 0
}

.textMUIWhiteButton {
  @apply text-[#ffffff] font-bold;
}

.containedMUIWhiteButton {
  @apply bg-[#ffffff] hover:bg-[#f0f5ff] text-[#2076d2] hover:text-[#2076d2] font-bold;
}

.authInputMUIField {
  @apply relative row-span-1 mx-[15%] mlarge:mx-[5%] w-[70%] mlarge:w-[80%] h-[50px] border-2 rounded-[5px];
}

.googleOAuthButton {
  @apply flex justify-center items-center row-span-1 mx-[15%] mlarge:mx-[5%] w-[70%] mlarge:w-[80%] h-[50px] border-2 rounded-[5px] text-[1rem] font-bold;
}

.githubOAuthButton {
  @apply row-span-1 mx-[15%] mlarge:mx-[5%] w-[70%] mlarge:w-[80%] h-[50px] bg-[#000000] hover:bg-[#111111] border-2 hover:border-[2px] rounded-[5px] text-[1rem] font-bold;
}
